.audio-wrap {
    margin: 5rem auto;
    max-width: 1200px;
    width: calc(100% - 20px);
}
.audio-wrap > ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.audio-wrap > ul > li {
    display: flex;
    padding: 5px;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.audio-wrap > ul > li > .title {
    width: 45%;
}