.table-write > ul {
    margin: 30px auto auto;
    padding: 0;
    list-style: none;
}
.table-write > ul > li {
    margin-bottom: 10px;
}

.table-bottom {
    width: 100%;
    text-align: center;
}
.table-bottom > button {
    margin: 15px 5px;
}

.table-header {
    text-align: right;
    margin: 30px auto;
}
.table-list {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.table-list > ul {
    margin: auto;
    padding: 0;
    width: 100%;
    list-style: none;
}
.table-list-item {
    margin-bottom: 35px;
    border-bottom: 1px solid #333;
}
.table-list-item > .item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-list-item > .item-top > .item-top-title {
    display: flex;
    width: calc(100% - 150px);
    font-size: 1.25rem;
    font-weight: bold;
    align-items: center;
}
.table-list-item > .item-top > .item-top-title > .item-delete-button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: url('../images/delete-icon.svg');
    background-size: 100% 100%;
    cursor: pointer;
}
.table-list-item > .item-top > .item-top-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-top-password > input {
    width: calc(100% - 70px);
}
.table-list-item > .item-body {
    padding: 20px 0 30px 0;
    white-space: pre-wrap;
}
.item-top-error {
    padding: 10px 0;
    color: red;
    text-align: right;
    font-size: 0.9rem;
}
@media screen and (max-width: 480px) {
    .table-list-item {
        margin-bottom: 25px;
    }
    .item-top-password > input {
        width: calc(100% - 50px);
    }
}